<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        
    {{>header}}
    <p>this site was created by kalpesh dharpure. it uses data from mapbox.com and api.weatherstack.com </p>
    <img class="portrait" src="/img/profilepic.jpg">
    </div>
   
    {{>footer}}
</body>

</html>